.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0.1px solid #5467f5;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 10px 20px;
}
.storybook-button--primary {
  color: white;
  background-color: #5467f5;
}
.storybook-button--border {
  color: #5467f5;
  background-color: #ffffff; /* 하얀색 배경색 */
}
.storybook-button--warning {
  color: white;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.storybook-button--primary:hover {
  background-color: #3f50f5;
}
.storybook-button--border:hover {
  background-color: #5467f5;
  color: white;
}
.storybook-button--warning:hover {
  background-color: #ff3333;
}

.storybook-button:disabled {
  background-color: #b2bac2;
  color: white;
  border-color: #b2bac2;
  cursor: not-allowed;
}

