.storybook-button {
  font-family: 'Pretendard', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.5px;
  border: 0.1px solid #495EF6;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 341px; /* Set the default width */
  height: 56px; /* Set the default height */
  transition: background-color 0.3s, color 0.3s, opacity 0.3s; /* Transition for visual effects */
}

.storybook-button--primary {
  color: white;
  background-color: rgba(73, 94, 246, 1);
}

.storybook-button--border {
  color: #495EF6;
  background-color: rgba(255, 255, 255, 1);
}

.storybook-button--warning {
  color: white;
  background-color: rgba(255, 77, 79, 1);
  border-color: rgba(255, 77, 79, 1);
}

.storybook-button--primary:hover,
.storybook-button--border:hover,
.storybook-button--warning:hover {
  opacity: 0.9; /* Slightly reduces opacity on hover */
}

.storybook-button:disabled {
  background-color: #B2BAC2;
  color: white;
  border-color:#B2BAC2;
  cursor: not-allowed;
}
